---
- name: Deploy Docker container on worker node
  hosts: all
  become: true

  vars:
    image_name: myapp
    image_tag: latest
    container_name: myapp-container
    container_port: 8090
    host_port: 8090

  tasks:
    - name: Build Docker image
      community.docker.docker_image:
        name: "{{ image_name }}"
        tag: "{{ image_tag }}"
        build:
          path: "{{ playbook_dir }}/.."
        source: build
        force_source: true

    - name: Remove existing container if present
      community.docker.docker_container:
        name: "{{ container_name }}"
        state: absent

    - name: Run new container
      community.docker.docker_container:
        name: "{{ container_name }}"
        image: "{{ image_name }}:{{ image_tag }}"
        state: started
        restart_policy: always
        ports:
          - "{{ host_port }}:{{ container_port }}"
